openapi: 3.2.0
info:
  title: UnitedHealthcare Provider Prior Authorization API
  description: The UnitedHealthcare Provider API provides real-time access to eligibility verification, claims management, prior authorization, and provider directory services for healthcare providers, payers, and health IT developers. Available through the UnitedHealthcare API Marketplace at apimarketplace.uhcprovider.com.
  version: '1.0'
  contact:
    name: UnitedHealthcare API Marketplace
    url: https://apimarketplace.uhcprovider.com
  license:
    name: UnitedHealthcare API Terms of Use
    url: https://apimarketplace.uhcprovider.com/legal
servers:
- url: https://api.uhcprovider.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Prior Authorization
  description: Prior authorization and referral actions
paths:
  /prior-auth/v1/check:
    post:
      operationId: checkPriorAuth
      summary: UnitedHealthcare Real Prior Auth Check
      description: Check if a prior authorization or referral is required for a specific service and procedure, and determine the authorization status for a UnitedHealthcare member.
      tags:
      - Prior Authorization
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: return 'NOT_REQUIRED';
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriorAuthCheckRequest'
            x-microcks-default: "{\n  \"memberId\": \"123456789\",\n  \"npi\": \"1234567890\",\n  \"serviceCode\": \"27447\",\n  \"serviceType\": \"Surgery\",\n  \"dateOfService\": \"2026-06-01\"\n}\n"
      responses:
        '200':
          description: Prior authorization requirement result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriorAuthCheckResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Member not found
        '429':
          description: Too many requests
components:
  schemas:
    PriorAuthCheckResponse:
      type: object
      description: Prior authorization requirement response
      properties:
        authorizationRequired:
          type: boolean
          description: Whether prior authorization is required
        authorizationStatus:
          type: string
          enum:
          - NOT_REQUIRED
          - REQUIRED
          - APPROVED
          - PENDING
          - DENIED
          description: Authorization status
        authorizationNumber:
          type: string
          description: Authorization number if already approved
        validFromDate:
          type: string
          format: date
          description: Authorization valid from date
        validToDate:
          type: string
          format: date
          description: Authorization valid to date
        approvedUnits:
          type: integer
          description: Number of approved units/visits
        referralRequired:
          type: boolean
          description: Whether a referral is required
    PriorAuthCheckRequest:
      type: object
      description: Request to check prior authorization requirements
      required:
      - memberId
      - npi
      - serviceCode
      properties:
        memberId:
          type: string
          description: Member ID
        npi:
          type: string
          description: Provider NPI
        serviceCode:
          type: string
          description: CPT/HCPCS service code
        serviceType:
          type: string
          description: Service type description
        dateOfService:
          type: string
          format: date
          description: Planned date of service
        diagnosisCodes:
          type: array
          description: Supporting ICD-10 diagnosis codes
          items:
            type: string
        placeOfService:
          type: string
          description: Place of service code
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer token from UnitedHealthcare API Marketplace
externalDocs:
  description: UnitedHealthcare API Marketplace Documentation
  url: https://apimarketplace.uhcprovider.com/#/
